.electiondetails{
  margin-top:28px;
}
.electiondetails img {
  display: block;
  width:100px;
  height:100px;
  border-radius:50%;
  margin:auto;
  border-style: groove;
}
.electioninfo{
  margin-top:32px
}
.title{
  text-align: center;
  color:var(--color-sub2);
  font-size:1.5em;
}
.electioninfo div{
  display: flex;
  justify-content: center
}
.addr{
  color:var(--color-sub);
  margin-right:4px;
  font-size: 0.75em
}
.addr button i{
  color:red!important 
}
.electioninfo button{
  background:none;
  border:none;
}
.electioninfo button i{
  color:var(--color-sub2);
  font-size: 0.9em
}
.stats{
  margin-top:24px;
  display: flex;
  justify-content: center
}
.stats div{
  margin-right: 8px;
  text-align:right
}
.statsitem{
  background-color:var(--color-bg2);
  border-radius:8px;
  padding:22px;
  padding-left: 8px;
}
.statsitem p:nth-child(1){
  font-size:0.85em;
  color:var(--color-sub)
}
.statsitem  p:nth-child(2){
  font-size: 0.65em;
  color:var(--color-sub2)
}
/*stylesfor tab head*/
.tabhead{
  border-bottom:thin solid var(--color-sub);
  position:relative;
  display:flex;
  justify-content: center;
  margin-top:32px
}

.tabhead button {
  width:80px;
  border: none;
  height: 32px;
  flex:1;
  background-color:transparent;
  color:var(--color-text);
  transition:all 0.5s linear;
  outline: none;
}
.indicator{
  position:absolute;
  bottom:0;
  left:75%;
  height:2px;
  width:25%;
  background-color: var(--color-primary) 
}