.general {
  padding-top: 32px;
  width: 90%;
  margin: auto;
}
.general input {
  width: 100%;
  background-color: var(--color-bg2);
  border: none;
  height: 36px;
  border-radius: 6px;
  color: var(--color-sub2) !important;
  padding-left: 6px;
}
.general label {
  font-size: 0.7em;
  color: var(--color-sub2);
}
.heading {
  font-size: 0.7em;
  margin-bottom: 18px;
  margin-top: 12px;
  color: var(--color-sub);
  text-align: center;
}
.saveChanges {
  margin-bottom: 2px;
  text-align: right;
}
.countdown {
  margin-top: 32px;
}
.countdowntimer {
  display: flex;
}
.countdowntimer div {
  flex: 1;
  text-align: center;
  background-color: var(--color-bg2);
  padding: 16px;
  border-radius: 6px;
  margin-right: 12px;
}
.countdowntimer div p:nth-child(2) {
  font-size: 0.65em;
  color: var(--color-sub);
}
.controlbtns {
  display: flex;
  width: 80%;
  margin: auto;
  padding-bottom: 24px;
}
.controlbtns button {
  flex: 1;
  height: 38px;
  margin-right: 6px;
  border-radius: 6px;
  border: none;
}
.controlbtns button:nth-child(1) {
  background-color: var(--color-primary);
}
/*STYLES FOR POLLS*/
.pollitem {
  display: block;
}
.newpoll {
  text-align: right;
  padding: 1px 12px;
  background-color: var(--color-bg2);
  margin-bottom: 2px;
}
.newpoll button {
  background: none;
  border: none;
  color: var(--color-primary);
  margin: 14px 8px;
}
.pollcandidate {
  overflow-x: scroll;
  overflow: auto;
  white-space: nowrap;
}
.pollcandidate img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: thin solid var(--color-sub2);
  padding: 8px;
}
.pollitemheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px 16px 12px;
  background-color: var(--color-bg2);
  margin-bottom: 3px;
}
.candidateitem {
  display: inline-block;
  padding: 12px;
  margin-right: 14px;
  margin-left: 14px;
  text-align: center;
}
.candidatename {
  color: var(--color-sub2);
  font-size: 0.9em;
  margin-top: 8px;
  text-align: center;
}
marquee {
  color: var(--color-sub);
  font-size: 0.75em;
  width: 75%;
  margin: auto;
}
/*CANDIDATES AND VOTER LIST STYLE*/
.utilnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.candidatesearch {
  position: relative;
  width: 50%;
}
.candidatesearch input {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  padding-left: 12px;
  color: var(--color-sub2);
  padding-right: 36px;
  background-color: var(--color-bg2);
}

.candidatesearch button {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}
.candidatesearch button i {
  color: var(--color-sub2);
}
.addbtncont button {
  background: none;
  border: none;
}
.addbtncont i {
  color: var(--color-primary);
}
.candidatescont img {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  margin-right: 8px;
}
.candidatesitem {
  display: flex;
}
.candidatesitem {
  margin-bottom: 12px;
  border-bottom: thin solid var(--color-sub) !important;
}
.candidatesitem:last-child {
  border-bottom: none !important;
}
.candidatedetails p {
  display: inline-block;
}
.label {
  margin-right: 8px;
  color: var(--color-sub2);
  font-size: 0.75em;
}
hr {
  display: block;
  margin: 12px 0px;
  border: thin solid var(--color-sub);
}
