:root {
  --color-bg: #09090b;
  --color-primary: #d3477d;
  --color-sub: gray;
  --color-sub2: #ccc;
  --color-bg2: #151517;
  --color-text: #fff;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
p {
  font-family: Lato;
}
hr {
  border: thin solid rgba(255, 255, 255, 0.1);
}
